<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>globalStyle</title>
<link href="../../resources/css/sample.css" type="text/css" rel="stylesheet">
<style type="text/css">
h1 { 
	color: blue;
	font-size:36pt;
	font-family:궁서체;
	width:80%;
	height:200px;
	background:cyan;
	border:2px solid navy;
	box-shadow:2px 2px 10px black;
	text-align:center;
	padding-top:20px;
	}
p#box1{
	background:#fc0;
	color:red;
	width:300px;
	height:200px;
	position:absolute;
	left:300px;
	top:150px;
	text-shadow:2px 2px 4px black;
}
</style>
</head>
<body>
<h1>전역 스타일시트 적용하기</h1>
<p id="box1">
head 태그 영역에 style태그를 사용함<br>
style 태그 안에 css 적용 태그명,아이디명,클래스명,선택자를 사용해서 
대상을 선택하고 css속성을 적용함 <br>
대상선택자 { 속성: 값; 속성: 값;}
</p>
<hr>
<h2>연결 스타일 시트 적용 테스트</h2>
<p>
안녕하세요 감사해요 잘잇어요 다시만나요
</p>


</body>
</html>