<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>inlineStyle</title>
</head>
<body>
<h1>인라인 스타일시트 적용 연습</h1>
<h3>태그에 style 속성을 사용해서 직접 css를 적용하는 방식</h3>
<h4 style="color:red;font-size:36pt;font-family:궁서체;">인라인 스타일시트는 일회용임</h4>
<p align="center" style="box-shadow:4px 4px 10px gray;width:500px;height:150px;background-color:orange;border:2px solid green;border-radius:50px;">
모든 html 태그에 사용할 수 있는 속성이 있음 <br>
id="아이디명", class="클래스명", style="속성:값;속성:값;" 속성임
아이디명은 웹문서 안에서 유일한 이름이어야함 <br>
클래스명은 여러 태그에 같은 이름을 사용할 수 있음
여러 태그들을 하나의 그룹으로 묶을 때 사용함 <br>

</p>
</body>
</html>