<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="../../orderServlet" method="post">
고객명 : <input type="text" name="name"><br><br>
전화번호 : <input type="text" name="phone"><br><br>
E-mail : <input type="email" name="email"><br><br>

<fieldset>
<legend>피자 사이즈</legend>
<input type="radio" name="size" value="small">Small<br><br>
<input type="radio" name="size" value="medium">Medium<br><br>
<input type="radio" name="size" value="large">Large
</fieldset>

<fieldset>
<legend>토핑선택</legend>
<input type="checkbox" name="topping" value="베이컨">베이컨<br><br>
<input type="checkbox" name="topping" value="치즈">치즈<br><br>
<input type="checkbox" name="topping" value="양파">양파<br><br>
<input type="checkbox" name="topping" value="버섯">버섯
</fieldset>

희망배송시간 : <input type="time" name="time"><br><br>
배송시요청사항 : <textarea name="etc" rows="2" cols="20"></textarea><br><br>
<input type="submit" value="주문하기">

</form>

</body>
</html>