<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>position</title>
<style type="text/css">
#area1{background-color:rgba(250, 160, 60, 1.0);visibility:visible;cursor:help;position:relative;/*해당 태그가 표시될 원래 위치가 기준임*/
		width:400px;height:100px;left:400px;z-index:2;}
#area2{background:rgba(50, 50, 120, 0.4);position:absolute;/*절대좌표 사용해서 위치지정*/width:400px;height:100px;left:300px;top:100px;z-index:1;}
#area3{background:olive;width:300px;height:150px;visibility:hidden;}
#area4{background:rgba(70, 190, 90, 0.5);border:2px inset black;width:300px;height:150px;position:fixed;}
</style>
</head>
<body>
<h1>위치 관련 스타일 속성 연습</h1>
<p id="area1">
position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.
</p>

<div id="area4">
position으로 위치 지정 방식을 설정하고 나서, left, right, top, bottom속성으로 위치값을 지정한다.
</div>

<p id="area2">
position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.
</p>
<p id="area3">
position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.</p><p>position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.position 속성은 태그의 위치를 어떻게 적용할지 방식을 지정하는 속성이다. 사용할 수 있는 값은 absolute(절대위치), relative(상대적위치),
fixed(위치 고정) 을 사용할 수 있다.
</p>
</body>
</html>