<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link href="../../resources/css/sample2.css" rel="stylesheet" type="text/css">-->
<link href="/testc/resources/css/sample2.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>배경색 그라데이션 적용 (css3)</h2>

<div class="grad1">선형 그라데이션 적용1</div><br>

<div class="grad2">선형 그라데이션 적용2</div><br>

<div class="grad3">원형 그라데이션 적용1</div><br>

<div class="grad4">원형 그라데이션 적용2</div><br>

<div id="bg1">
	배경 이미지를 div 크기의 90%로 지정한 경우
</div>

<div id="bg2">
	배경 이미지를 100px, 80px로 지정한 경우
</div>

<div class="opa1">
	<br><br>
	<h1 id="noopa">HTML5 & CSS3</h1>
	
</div>

<div class="opa2">
	<br><br>
	<h1 id="yesopa">HTML5 & CSS3</h1>
	
</div>

<div class="opa2">
	<br><br>
	<h1 id="rgba">HTML5 & CSS3</h1>
	
</div>








</body>
</html>