/*sample3.css
	transform, transition 테스트용 스타일 시트 파일
*/

@charset "UTF-8";

*{margin:0;padding:0;}

div.myphoto1{position:relative;left:30px;top:30px;width:120px;height:100px;padding:10px;background:#cbcb96;box-shadow:1px 1px 5px rgba(0,0,0,0.5);
			/*div 태그가 속성이 바뀔때의 변화 속도 지정*/}

div.myphoto1:hover{transform:rotate(25deg);-webkit-trasform:rotate(25deg);-moz-trasform:rotate(25deg);-o-trasform:rotate(25deg);-ms-trasform:rotate(25deg);
					/*transition:all 3s linear;-webkit-transition:all 3s linear;-moz-transition:all 3s linear;-o-transition:all 3s linear;-ms-transition:all 3s linear;*/
					transition:all 2s ease-out;-webkit-transition:all 2s ease-out;-moz-transition:all 2s ease-out;-o-transition:all 2s ease-out;}

/*div.myphoto1:hover{transform:scale(2,2);-webkit-transform:scale(2,2);-moz-transform:scale(2,2);-o-transform:scale(2,2);-ms-transform:scale(2,2);}*/

/*div.myphoto1:hover{transform:skew(15deg,15deg);-webkit-transform:skew(15deg,15deg);-moz-transform:skew(15deg,15deg);-o-transform:skew(15deg,15deg);-ms-transform:skew(15deg,15deg);}*/

/*div.myphoto1:hover{transform:translate(100px,100px);-webkit-transform:translate(100px,100px);-moz-transform:translate(100px,100px);-o-transform:translate(100px,100px);-ms-transform:translate(100px,100px);}*/

