@charset "UTF-8";

/*글꼴 파일 등록*/
@font-face {font-family:TESTF; /*임의대로 글꼴이름 지어줌*/src:url("../fonts/FZSong_Super.TTF") format("truetype");}

img[src$="_s.jpg"]{opacity:0.3;border:3px solid #f00;}

/* *:not(img){box-shadow:1px 1px 3px red;} */

li{list-style:none;margin-right:30px;float:left;font-size:48px;font-family:TESTF;}

li:nth-child(odd){color:#900;font-weight:bold;}

li:nth-child(2) {color:green;font-family: Comic Sans Ms;}

li:nth-child(4n) {color:blue;background-color:hsl(200,50%,85%);}

.mcol{-moz-column-count:3;-moz-column-gap:20px;-moz-column-rule:1px dotted #f06;-webkit-column-count:3;-webkit-column-gap:20px;-webkit-column-rule:1px dotted #f06;}

